<nav class="top-nav" ng-class="{menu: menuIsOn && !globalIsOn, global: globalIsOn}">
    <button class="top-nav-menu-button" ng-if="!menuIsOn" ng-click="toggleGlobalMenu()"></button>
    <button class="top-nav-menu-button" ng-if="menuIsOn && !globalIsOn" ng-click="toggleMenu()"></button>

    <div class="top-nav-header" ng-show="shot.id" ng-click="toggleMenu()">
	    <div ng-include="'../images/WR_half_logo.svg'" class="top-nav-logo"></div>
	    
		<div class="top-nav-breadcrumbs">
	        <!--<a ng-show="shot.previous" ui-sref="volume.shot({ shot: shot.previous })" class="top-nav-shot-down"></a>
			<a ng-show="shot.next" ui-sref="volume.shot({ shot: shot.next })" class="top-nav-shot-up"></a>-->
			
			<div class="top-nav-desktop">
		        <div class="top-nav-shot-current">Volume {{ volume | number }} &nbsp; \ &nbsp; Article {{ shot.id }} &nbsp; \ &nbsp;</div>
			    <div class="top-nav-current-slide">
			        <div class="top-nav-author down" ng-repeat="slide in shot.slides | filter:isHeaderSlide">
			          {{ slide.nav || slide.annotation.author.name | htmlToPlaintext }}
			        </div>
			    </div>
			</div>
			<div class="top-nav-mobile">
				<div class="top-nav-shot-current">{{ volume }} - {{ getArticleNumber(shot.id) }}</div>
			</div>
	    </div>
		<div class="top-nav-index-label">Volume Index & Article Detail <span class="down-chevron">^</span></div>
    </div>

    <div class="nav-menu">
		<div class="nav-menu-inner">
			<h4>Article Detail</h4>
			
			<div class="nav-menu-details">
				<div class="nav-menu-appellation">
					<h1 ng-bind-html="shot.annotations[0].title"></h1>
					<h3 ng-bind-html="shot.annotations[0].author.name"></h3>
					
					<div class="nav-menu-utilities">
						<a href="{{ shot.annotations[0].pdf }}" ng-click="analyticsButtonClick('PDF Download')" target="_blank">PDF Download</a>
						<a href="javascript:void(0)" ng-click="analyticsButtonClick('Share')" class="share-link">Share</a>
					</div>
				</div>
				<div class="nav-menu-description">
					<p ng-bind-html="shot.annotations[0].author.description"></p>
				</div>
			</div>  
			
			<div class="nav-menu-controls">
				<div class="nav-menu-tabs">
					<a class="nav-menu-tab" ng-repeat="tab in ['shots', 'tags']" ng-click="$parent.showMenuTab = tab; $parent.filterShots();" ng-bind="tab" ng-class="{on: showMenuTab === tab}"></a>
				</div>
			</div>
			
			<div class="nav-menu-shots" ng-show="showMenuTab === 'shots'">
				<h4>{{ currentVolume.title }}</h4>
				
				<div class="nav-menu-scrollable">
					<a class="nav-menu-shot" ng-repeat="shot in shots | orderBy:'slug'" ng-href="#/{{volume}}/{{shot.index}}" ng-mouseup="closeMenuIfCurrent(shot)">	
						<div class="nav-menu-shot-thumb"><img ng-src="{{ thumbnailForShot( shot ) }}" /></div>
						<div class="nav-menu-shot-number">{{ shot.index | number }}</div>
						<div class="nav-menu-shot-details">
							<p><strong ng-bind-html="shot.title"></strong></p>
							<p ng-bind-html="shot.annotations[0].author.name"></p>
						</div>
					</a>
				</div>
			</div>
			
			<div class="nav-volume-credits" ng-bind-html="currentVolume.description"></div>

			<div class="nav-menu-tags" ng-show="showMenuTab === 'tags'">
				<div class="nav-menu-scrollable">
					<a class="nav-menu-tag" ng-repeat="tag in shot.tags" ng-bind-html="tag.title" ng-click="$parent.filterShots(tag); $parent.showMenuTab = 'shots';"></a>
				</div>
			</div>
		</div>
    </div>

    <div class="nav-global">
      <div><a href="https://worldrecordsjournal.org" ng-click="analyticsButtonClick('Global: About')" target="_blank">About</a></div>
      <div><a href="https://worldrecordsjournal.org/volumes/" ng-click="analyticsButtonClick('Global: Volumes')" target="_blank">Volumes</a></div>
      <div><a href="https://worldrecordsjournal.org/subscribe-to-world-records/" ng-click="analyticsButtonClick('Global: Subscribe')" target="_blank">Subscribe</a></div>
      <div><a href="https://worldrecordsjournal.org/join/" ng-click="analyticsButtonClick('Global: Newsletter Signup')" target="_blank">Newsletter Signup</a></div>
      <div><a href="https://worldrecordsjournal.org/submissions/" ng-click="analyticsButtonClick('Global: Call for Submissions')" target="_blank">Call for Submissions</a></div>
      <div><a href="https://worldrecordsjournal.org/contact/" ng-click="analyticsButtonClick('Global: Contact')" target="_blank">Contact</a></div>

      <!--<div class="nav-global-subscribe">
        <form action="http://ymlp.com/subscribe.php?id=gumhejygmgb" method="post">
          <input type="email" name="YMP0" placeholder="your email address">
          <input type="submit" value="Submit" style="display: none;">
        </form>
      </div>-->

      <div class="copyright">© <strong>UnionDocs, Inc.</strong> 2018</div>
    </div>
</nav>

<nav class="side-nav">
    <ul class="side-nav-circles">
      <li class="side-nav-circle" ng-repeat="slide in shot.slides | filter:isNavSlide" ng-click="scrollToSlide(slide)">
        <div class="side-nav-tag">{{ slide.nav || slide.annotation.author.name }}</div>
      </li>
    </ul>
</nav>

