<nav class="top-nav" ng-class="{menu: menuIsOn && !globalIsOn, global: globalIsOn}">
    <button class="top-nav-menu-button" ng-click="toggleGlobalMenu()"></button>
    <div class="top-nav-current-slide" ng-click="toggleMenu()">
        <div class="top-nav-author down" ng-repeat="slide in shot.slides | filter:isHeaderSlide">
          {{ slide.nav || slide.annotation.author.name }}
        </div>
        <div class="top-nav-index-label">Volume Index</div>
        <button class="top-nav-shots-button"></button>
    </div>
    <div class="top-nav-shot" ng-show="shot.id">
        <a ng-show="shot.previous" ui-sref="volume.shot({ shot: shot.previous })" class="top-nav-shot-down"></a>
        <div class="top-nav-shot-current">{{ shot.id }}</div>
        <a ng-show="shot.next" ui-sref="volume.shot({ shot: shot.next })" class="top-nav-shot-up"></a>
    </div>

    <div class="nav-menu">
		<div class="nav-menu-inner">
			<div class="nav-menu-details">
				<div class="nav-menu-appellation">
					<h1>{{ shot.annotations[0].title }}</h1>
					<h3>{{ shot.annotations[0].author.name }}</h3>
					
					<div class="nav-menu-utilities">
						<a href="#">Download PDF</a>
						<a href="#">Share</a>
						<a href="#">Notes</a>
					</div>
				</div>
				<div class="nav-menu-description">
					<p ng-bind-html="shot.annotations[0].author.description"></p>
				</div>
			</div>  
			
			<div class="nav-menu-controls">
				<div class="nav-menu-tabs">
					<a class="nav-menu-tab" ng-repeat="tab in ['shots', 'tags']" ng-click="$parent.showMenuTab = tab; $parent.filterShots();" ng-bind="tab" ng-class="{on: showMenuTab === tab}"></a>
				</div>
			</div>
			
			<div class="nav-menu-shots" ng-show="showMenuTab === 'shots'">
				<h4>Volume I: The Camera</h4>	
				
				<div class="nav-menu-scrollable">
					<a class="nav-menu-shot" ng-repeat="volume in volumes | orderBy:'slug'" ui-sref="volume.shot({ volume: volume.slug, shot: '01' })">
						<div class="nav-menu-shot-thumb"><img ng-src="{{ thumbnailForVolume( volume ) }}" /></div>
						<div class="nav-menu-shot-number">{{ volume.slug | number }}</div>
						<div class="nav-menu-shot-details">
							<strong>{{ volume.title }}</strong>
						</div>
					</a>
				</div>
			</div>
			
			<div class="nav-menu-tags" ng-show="showMenuTab === 'tags'">
				<div class="nav-menu-scrollable">
					<a class="nav-menu-tag" ng-repeat="tag in shot.tags" ng-bind-html="tag.title" ng-click="$parent.filterShots(tag); $parent.showMenuTab = 'shots';"></a>
				</div>
			</div>
		</div>
    </div>

    <div class="nav-global">
      <div><a href="#">About</a></div>
      <div><a href="#">Volumes</a></div>
      <div><a href="#">Subscribe</a></div>
      <div><a href="#">Newsletter Signup</a></div>
      <div><a href="#">Call for Submissions</a></div>
      <div><a href="#">Contact</a></div>

      <!--<div class="nav-global-subscribe">
        <form action="http://ymlp.com/subscribe.php?id=gumhejygmgb" method="post">
          <input type="email" name="YMP0" placeholder="your email address">
          <input type="submit" value="Submit" style="display: none;">
        </form>
      </div>-->

      <div class="copyright">© <strong>UnionDocs, Inc.</strong> 2014</div>
    </div>
</nav>

<nav class="side-nav">
    <ul class="side-nav-circles">
      <li class="side-nav-circle" ng-repeat="slide in shot.slides | filter:isNavSlide" ng-click="scrollToSlide(slide)">
        <div class="side-nav-tag">{{ slide.nav || slide.annotation.author.name }}</div>
      </li>
    </ul>
</nav>

